PORT=3000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ritmo_claro_db?schema=public"
# Genera uno con: node -e "console.log(require('crypto').randomBytes(48).toString('hex'))"
JWT_SECRET="reemplazar-por-un-secreto-de-al-menos-32-caracteres"
JWT_EXPIRES_IN="1h"
